.projects-wrapper{
    background-color: #f5f5f5;
    margin-bottom: 96px;
}

.projects{
    padding: 96px 32px;
    position: relative;
}

.projects h2{
    padding-right: 180px;
    padding-bottom: 24px;
    font-size: 32px;
    line-height: 120%;
}

.see-more-link{
    position: absolute;
    top: 90px;
    right: 32px;
    padding-top: 16px;
    color: #446ee7;
    display: block;
}

.see-more-link span{
    width: 10px;
    height: 10px;
    fill: #446ee7;
    padding-left: 8px;
}

.projects .slick-slider{
    margin: 0 -18px;
}

.project-item-wrapper{
    outline: none;
    width: 331px;
    padding: 0 18px;
    padding-bottom: 8px;
}

.project-item{

    border-radius: 4px;
    box-shadow: 0 0.14px 2.29266px rgb(0 0 0 / 3%), 0 0.37px 4.42626px rgb(0 0 0 / 5%), 0 3px 7px rgb(0 0 0 / 9%);
}

.project-item img{
    height: 237px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    display: block;
}

.slick-prev, .slick-next{
    background-color: #fff;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    text-align: center;
    -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
    border: 0;
    font-size: 16px;
    line-height: 100%;
    border-radius: 30px;

}

.slick-prev{
    left: -5px;
}

.slick-next{
    right: -5px;
}

.slick-next::before{
    display: inline-block;
    background-size: 16px 64px;
    width: 16px;
    height: 16px;
    margin-top: 16px;
}

.project-info{
    padding: 16px 0 12px 16px;
    display: flex;
}

.project-info img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.project-info span{
    font-size: 14px;
    line-height: 21px;
    padding-left: 12px;
    width: 100%;
}

.project-info b{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: calc(100% - 12px);
}

.project-info span b a{
    color: #404145;
}

.project-info span a{
    color: #95979d;
}


/* responsive  */
@media only screen and (max-width: 900px) {
    .see-more-link {
        position: unset;
    }

    .projects h2{
        padding-right: 0;
        font-size: 28px;
    }
}