
.BuyerSharedActivitySettings-component{
    padding: 30px;
    border: 1px solid #dadbdd;
    background-color: #fff;
    margin-top: 25px;
}

.BuyerSharedActivitySettings-component .tbody-5{
    line-height: 140%;
    padding-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #404145;
}

.BuyerSharedActivitySettings-component .tbody-6{
    font-size: 14px;
    line-height: 21px;
    color: #62646a;
}

.BuyerSharedActivitySettings-component .ciJrsAq{
    color: #00698c;
    text-decoration: none;
    font-size: 14px;
    line-height: 21px;
}


