body {
    margin: 0;
    color: #62646a;
    font: 400 16px/24px Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

img {
    vertical-align: unset;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1{
    line-height: 120%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #404145;
    font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
}